*{
				margin: 0;
				padding: 0;
			}
			.row {
				line-height: 0;
			}
			.wall {
				background-color: red;
				 height: 40px;
				 width: 40px;
				 display: inline-block;
			}
			.sushi {
				background-color: black;
				 height: 40px;
				 width: 40px;
				 display: inline-block;
				 background-image: url('sushi.png');
				 background-size: contain;
			}
			.onigiri {
				background-color: black;
				 height: 40px;
				 width: 40px;
				 display: inline-block;
				 background-image: url('onigiri.png');
				 background-size: contain;
			}
			.blank {
				background-color: black;
				 height: 40px;
				 width: 40px;
				 display: inline-block;
			}
			#ninjaman {
				background-color: black;
				 height: 40px;
				 width: 40px;
				 display: inline-block;
				 background-image: url('ninja.gif');
				 background-size: contain;
				 position: absolute;
				 left: 240px;
				 top: 240px;
			}
			#bluey{
				background-color: black;
				height: 40px;
				width: 40px;
				display: inline-block;
				background-image: url('bluey.gif');
				background-size: contain;
				position: absolute;
				left: enemyStart();	
				top: enemyStart();			
			}
			#red{
				background-color: black;
				height: 40px;
				width: 40px;
				display: inline-block;
				background-image: url('red.gif');
				background-size: contain;
				position: absolute;				
			}
			#pinky{
				background-color: black;
				height: 40px;
				width: 40px;
				display: inline-block;
				background-image: url('pinky.gif');
				background-size: contain;
				position: absolute;				
			}
			#pumpky{
				background-color: black;
				height: 40px;
				width: 40px;
				display: inline-block;
				background-image: url('pumpky.gif');
				background-size: contain;
				position: absolute;				
			}
			h3 {
			   	 margin-left: 50px;
			}